*{
    margin: 0;
    padding: 0;
    border: 0;
}

body{
    overflow-x: hidden;
}

.main-container{
    display: flex;
    flex-direction: row;
}

.navigation-bar{
    position: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50px;
    height: 100vh;
    background-color: rgb(41, 41, 41);
    font-size: 20px;

}

.nav-icons{
    display: block;
    opacity: 0.7;
    margin-top: 20px;
    margin-bottom: 20px;
    color: rgb(212, 212, 212);
    padding: 12px; 
    transition: border-right-style, border-width, border-color, color;
    transition-duration: 500ms;
}

.nav-icons:hover{
  border-right-style: inset;
  border-width: 5px;
  border-color: rgb(190, 190, 190);
  color: white;
}

.content{
    margin-left: 50px;
}

#header{
    width: 98vw;
    height: 100vh;
    background-color: #CBDEFD;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

#youtube-tutorials{
    text-align: center;
    background-color: #71A1EE;
    padding: 10% 5%;
    color: #FFF;
}

.video-thumbnail{
    width: 400px;
}

.container-fluid{
    margin-left: auto;
    padding: 50px;
}

.yt-heading{
    text-align: center; 
    padding-top: 20px;
}


.linkscontainer{
    padding-bottom:3%;
  }
  
  .linkscontainer:hover {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg id='squiggle-link' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:ev='http://www.w3.org/2001/xml-events' viewBox='0 0 20 4'%3E%3Cstyle type='text/css'%3E.squiggle{animation:shift .3s linear infinite;}@keyframes shift {from {transform:translateX(0);}to {transform:translateX(-20px);}}%3C/style%3E%3Cpath fill='none' stroke='%23ff9800' stroke-width='2' class='squiggle' d='M0,3.5 c 5,0,5,-3,10,-3 s 5,3,10,3 c 5,0,5,-3,10,-3 s 5,3,10,3'/%3E%3C/svg%3E");
    background-position: 0 100%;
    background-size: auto 6px;
    background-repeat: repeat-x;
    text-decoration: none;
  }
  .container1{
    height: 500px;
    width: 350px;
    font-size: 1.5vmax;
    color: rgb(138, 171, 199);
    font-family: 'Sansita Swashed', cursive;
    
  }
  
    .container2{
      height: 500px;
      width: 350px;
      font-size: 1.5vmax;
      color:#E3D980;
      font-family: 'Sansita Swashed', cursive;
      text-align: center;
    }
  
    
  
    .container3{
      height: 500px;
      width: 350px;
      font-size: 1.5vmax;
      color:antiquewhite;
      font-family: 'Sansita Swashed', cursive;
    }
  
    @media(max-width: 800px){
      .container3{
        width: 0;
        font-size: 0;
      }
    }
    
  .sub{
    background:#403b92;
    display: flex;
    flex-direction: row;
    justify-items: center;
    justify-content: center;
  }
  